@import '../css/reset.css';
@import '../css/media.css';
@import '../css/font.css';

body{
    background: url(../images/forest.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding-top: 50px;
}
.login-box {
    height: 420px;
    width: 476px;
    background: #d3d3d38e;
    border: 1px solid #ffff;
    backdrop-filter: blur(10px);
    border-radius: 30px;
}

.login-name-box {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-name {
    font-family: Montserrat-semi-bold;
    font-size: 72px;
    color: #0D3D63;
}

.login-form-box {
    width: 350px;
    height: 150px;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 34px;
    padding-top: 30px;
}

.form-box {
    width: 100%;
    height: 50px;
    border-radius: 30px;
    border: 1px solid #ffffff;
    display: flex;
    
}

input {
    font-family: Signika-medium;
    font-size: 24px;
    border-radius: 30px;
    width: 100%;
    border: 0px solid;
    background-color: #1d7cca00;
    outline: none;
    color: #0D3D63;
}
.username-input {
    background-image: url("../images/username.svg");
    background-repeat: no-repeat;
    background-position: 95% 10px;
    padding-left: 30px;
}
.password-input {
    background-image: url("../images/password.svg");
    background-repeat: no-repeat;
    background-position: 95% 10px;
    padding-left: 30px;
}
input:focus {
    border: 1px solid white;
    transition: 0.5s;
  }

::placeholder {
    color: #0D3D63;
}
.login-button-box {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}


.login-button { 
    border-radius: 30px;
    width: 350px;
    height: 50px;
    border: none;
    font-family: Signika-medium;
    font-size: 36px;
    color: #0D3D63;
    background-color: #fff;
}

.text-above-box {
    width: 330px;
    height: 30px;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    font-family: Cabin-semi-bold;
    font-size: 24px;
}

.remember-me-box {
    width: 65%;

}
.forgot-password-box {
    width: 50%;
    color: #0D3D63;
    font-size: 18px;

}
.forgot-password {
    text-decoration: none;
    color: #0D3D63;
}

.checkbox-wrapper-65 *,
.checkbox-wrapper-65 ::after,
.checkbox-wrapper-65 ::before {
box-sizing: border-box;
}
.checkbox-wrapper-65 .cbx {
    position: relative;
    display: block;
    float: left;
    width: 18px;
    height: 18px;
    border-radius: 4px;
    background-color: #60606200;
    background-image: linear-gradient(#f5f5f500, #ffffff00);
    box-shadow: inset 0 1px 1px rgba(255,255,255,0.15), inset 0 -1px 1px rgba(0,0,0,0.15);
    transition: all 0.15s ease;
    border: 1px solid rgba(255, 255, 255, 0.096);
  }
  .checkbox-wrapper-65 .cbx svg {
    position: absolute;
    top: 3px;
    left: 3px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #fff;
    stroke-width: 2;
    stroke-dasharray: 17;
    stroke-dashoffset: 17;
    transform: translate3d(0, 0, 0);
  }
  .checkbox-wrapper-65 .cbx + span {
    float: left;
    margin-left: 6px;
  }
  .checkbox-wrapper-65 {
    user-select: none;
  }
  .checkbox-wrapper-65 label {
    display: inline-block;
    cursor: pointer;
  }
  .checkbox-wrapper-65 input[type="checkbox"] {
    display: none;
    visibility: hidden;
  }
  .checkbox-wrapper-65 input[type="checkbox"]:checked + .cbx {
    background-color: #606062;
    background-image: linear-gradient(#255cd2, #1d52c1);
}
  .checkbox-wrapper-65 input[type="checkbox"]:checked + .cbx svg {
    stroke-dashoffset: 0;
    transition: all 0.15s ease;
}
                               
.remember-me {
    color: #0D3D63;
    font-size: 18px;
    
}

.dont-have-account {
    color: #0D3D63;
    font-family: Cabin-semi-bold;
    font-size: 18px;
}